*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    min-height: 200vh;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    padding: 40px 100px;
    z-index: 100;

}
.header.sticky{
    padding: 5px 100px;
    background: #fff;
}
.header .logo{
    position: relative;
    font-weight: 700;
    color: cornsilk;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.7s;

}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
    header ul li{
        position: relative;
        list-style: none;

    }
    header ul li a{
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 500px;
        transition: 0.7s;

    }
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/img/rasm\ 1\ .webp);
    background-size:cover ;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;

}
 #circle{
width: 200px;
height: 200px;
border: 15px solid red;
margin: 0 auto;
margin-top: 25%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
animation: circle 2s infinite forwards;

}
@keyframes circle {
    0% {border-color: red;
        transform: scale(1);}
    25% {border-color: gold;
        transform: scale(1.1);}
    50% {border-color: lime;
        transform: scale(1.3);}
    75% {border-color: dodgerblue;
        transform: scale(1.1);}
    100% {border-color: purple;transform: scale(1);}
}
#square{
    width: 75px;
    height: 75px;
    border: 5px solid khaki;
    animation: square 2s infinite ease-in-out alternate-reverse;
}
@keyframes square {
    0% {transform: rotate(0deg);}
    25% {border-color: aqua;border-width: 10px;}
    50% {border-color: coral;border-width: 10px;}
    75% {border-color: yellowgreen;border-width: 10px;}
    100% {transform: rotate(360deg); border-width: 10px;}
    
} 
